header {
    background-color: hotpink;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#id {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

header nav {
    display: flex;
    gap: 30px;
}

header nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    transition: 0.3s;
}

header nav a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.2);
}

body {
    color: aliceblue;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.tiedot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
}


.tietoTeksti {
  flex: 1;
  color: black;
  padding: 20px;
}


.kuva {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.kuva img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
}