header {
    background-color: hotpink;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#id {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
#muumi{
    width: 60px;
    height: 60px;
}
.muumiKontainer{
    background: rgba(0, 0, 0, 0.5);
    padding: 7px 30px;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav {
    display: flex;
    gap: 30px;
}

header nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    transition: 0.3s;
}

header nav a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.2);
}

body {
    color: aliceblue;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.tiedot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 40px;
}


.tietoTeksti {
  flex: 1;
  color: black;
}


.kuva {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-top: -30px;
}

.kuva img {
  width: 100%;
  max-width: 600px;
  object-fit: cover;
}
#Cont{
    color: black;
    font-weight: bold;
    font-size: 40px;
    padding: 0;
    margin-left: 35px;
    margin-top: 0;
}
.korosta{
    font-weight: bold;
}
.tietoTeksti h1,
.tietoTeksti p {
  margin: 0;
  padding: 0;
}