header {
    background-color: hotpink;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

#id {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 10px;

}
#muumi{
    width: 60px;
    height: 60px;
}
.muumiKontainer{
    background: rgba(0, 0, 0, 0.5);
    padding: 8.5px 30px;
    flex-direction: column;
  justify-content: center;
  align-items: center;
}

header nav {
    display: flex;
    gap: 30px;
}

header nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 30px;
    transition: 0.3s;
}

header nav a:hover {
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.2);
}

body {
    color: aliceblue;
    margin: 0;
    padding: 0;
    background-image: url(kuvatJaGifut/freddy-fazbear-hump.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.kuvaContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.KeskiKuva {
  display: block;
  margin: 0 auto;
  width: 1000px;
  height: 300px;
}
.keskitys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
    margin-top: 60px;
}
#companyH1{
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
    color: #ffffff;
}
.Teksti {
  max-width: 920px;
  margin-left: 30px;
  margin-top: 10px;
  text-align: left;
  word-wrap: break-word;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}